<div class="container">
<div ng-controller="specialDealsDetailsController as specialDealsDetailsCtr">
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="#!special-deals">Special Deals</a></li>
  <li>{{headingTitle}} {{id}}</li>
</ul>
<table class="table">   
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{specialDeals.specialDealID}}</td>           
        </tr>
        <tr>
            <td>Description</td>
            <td>{{specialDeals.dealDescription}}</td>           
        </tr>
        <tr>
            <td>Start Date</td>
            <td>{{specialDeals.startDate}}</td>           
        </tr>
        <tr>
            <td>End Date</td>
            <td>{{specialDeals.endDate}}</td>           
        </tr>
        
        
        <tr>
            <td>Discount Amount</td>
            <td>{{specialDeals.discountAmount}}</td>           
        </tr>
        
        <tr>
            <td>Discount Percentage</td>
            <td>{{specialDeals.discountPercentage}}</td>           
        </tr>
        
        <tr>
            <td>Unit Price</td>
            <td>{{specialDeals.unitPrice}}</td>           
        </tr>
        
        <tr>
            <td>Last Edited By</td>
            <td>{{specialDeals.lastEditedBy}}</td>           
        </tr>
        
        <tr>
            <td>Last Edited When</td>
            <td>{{specialDeals.lastEditedWhen}}</td>           
        </tr>
        
    </tbody>
</table>

</div>
</div>