<div class="container">
	<ul class="breadcrumb">
  		<li><a href="/">Home</a></li>
  		<li>{{headingTitle}}</li>
	</ul>
	<div loading-container="demo.tableParams.settings().$loading">
	<div ng-controller="specialDealsController as specialDealsCtr">
    	<table ng-table="specialDealsCtr.tableParams" class="table table-bordered table-striped table-condensed">
      		<tr ng-repeat="row in $data">
        		<td data-title="'Id'" >{{row.specialDealID}}</td>         
        		<td data-title="'Deal Description'" >{{row.dealDescription}}</td> 
        		<td data-title="'Start Date'" >{{row.startDate}}</td>  
        		<td data-title="'End Date'" >{{row.endDate}}</td> 
        		<td data-title="'Actions'" ><a href="#!special-deals/{{row.specialDealID}}" class="btn btn-primary">Details</a></td> 
      		</tr>
    	</table>
	</div>
	</div>
</div>