<div class="container">
<b>{{headingTitle}}</b>
<br>
<table>
  <tr ng-repeat="buyinggroup in buyinggroups">
    <td>{{ buyinggroup.buyingGroupID }}</td>
    <td>{{ buyinggroup.buyingGroupName }}</td>
  </tr>
</table>
</div>